<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\UsersRolesAssignment[]|\Cake\Collection\CollectionInterface $usersRolesAssignments
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Users Roles Assignment'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users Roles'), ['controller' => 'UsersRoles', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Users Role'), ['controller' => 'UsersRoles', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="usersRolesAssignments index large-9 medium-8 columns content">
    <h3><?= __('Users Roles Assignments') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('users_role_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($usersRolesAssignments as $usersRolesAssignment): ?>
            <tr>
                <td><?= $usersRolesAssignment->has('user') ? $this->Html->link($usersRolesAssignment->user->id, ['controller' => 'Users', 'action' => 'view', $usersRolesAssignment->user->id]) : '' ?></td>
                <td><?= $usersRolesAssignment->has('users_role') ? $this->Html->link($usersRolesAssignment->users_role->id, ['controller' => 'UsersRoles', 'action' => 'view', $usersRolesAssignment->users_role->id]) : '' ?></td>
                <td><?= h($usersRolesAssignment->created) ?></td>
                <td><?= h($usersRolesAssignment->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $usersRolesAssignment->user_id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $usersRolesAssignment->user_id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $usersRolesAssignment->user_id], ['confirm' => __('Are you sure you want to delete # {0}?', $usersRolesAssignment->user_id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
